{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<body style="font-family: 'Times New Roman', serif; line-height: 1.5;">
    <div style="text-align: center; margin-bottom: 40px;">
        <div style="font-size: 16pt; font-weight: bold; text-transform: uppercase; margin-bottom: 30px;">
            выпускная квалификационная работа
        </div>
    </div>
    
    <div style="font-size: 14pt; font-weight: bold; text-align: center; margin: 40px 0;">
        на тему<br>
        "Разработка системы автоматизации обучения моделей машинного обучения"
    </div>
    
    <div style="font-size: 14pt; margin-top: 100px; text-align: right;">
        Студент<br>
        <span style="text-decoration: underline;">Голованов Никита Андреевич</span>
    </div>
</body>

{% endblock %}