{% extends "base.html" %}

{% block title %}Models list{% endblock %}

{% block content %}




{% if newmodel|length > 0 %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            New model <strong>{{newmodel}}</strong> created
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
{%endif%}

{% if error|length > 0 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Error: <strong>{{error}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
{%endif%}

<button data-bs-toggle="modal" data-bs-target="#modelModal">
          Create new model
        </button>
<br>

<h1>Models list</h1>
<ul>
    {% for obj in objects %}
    <li>
        <a href="/models/{{ obj.model_name }}">{{ obj.model_name }}</a>
        <button id="delete{{obj.model_name}}">delete</button>
            <script>
            document.getElementById("delete{{obj.model_name}}").addEventListener('click', async () => {
                const model_name = "{{ obj.model_name }}";

                
                try {
                    const response = await fetch(`http://localhost:8002/api/Delete?model_name=${model_name}`, {
                        method: 'POST',
                        headers: {
                            'accept': 'application/json',
                        }
                    });
                    
                } catch (error) {
                    window.location.reload();
                }
            });
            </script>
    </li>
    {% endfor %}
</ul>














<!-- Модальное окно -->
<div class="modal fade" id="modelModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Model</h5>
      </div>
      <form method="POST" action="/create_model">
        <div class="modal-body">
            <h5>Enter model name</h5>
          <input id = "model_name" type="string" class="form-control" name="model_name" title="enter model name">
          <h5>Enter dataset name</h5>
          <input id = "dataset" type="string" class="form-control" name="dataset" title="enter dataset name">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>




{% endblock %}